[submodule "submodules/raylib"]
	path = submodules/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "submodules/sdl"]
	path = submodules/sdl
	url = https://github.com/libsdl-org/SDL.git
